.orden_hecha {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.contenido_orden_hecha {
    position: absolute;
    width: 77.778vw;
    height: 15.625vh;
    background-color: var(--fondo-L);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.txt_hecha {
    position: absolute;
    display: flex;
    align-items: center;
    width: 88.571%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 4.445vw;
    text-align: center;
    height: 3.125vh;
    margin: 0;
    word-break: break-word;
}

@media (min-width: 721px) {
    .orden_hecha {
        margin: 0 auto;
    }

    .contenido_hecha {
        width: 560px;
    }

    .txt_hecha {
        font-size: 32px;
    }
}