.logo {
    height: 20%;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.img_logo {
    position: relative;
    width: 27.778vw;
    height: 27.778vw;
    bottom: 9.375%;
    background-color: transparent;
}

.titulo {
    height: 4.532%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.txt_crunchy {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    margin: 0;
    font-size: 6.667vw;
}

.ingreso_datos {
    height: 55.469%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.seccion_datos {
    height: 16.339%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.datos {
    height: 16.339%;
    width: 91.112%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.datos_personales {
    height: 100%;
    width: 43.334%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.txt_datos {
    display: block;
    margin: 0;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 3.334vw;
    height: 24.138%;
}

.inp_datos {
    height: 41.38%;
    width: 90.244%;
    padding: 0;
    border: 2px solid var(--azul-oscuro-L);
    border-radius: 32px;
    background-color: var(--fondo-L);
    padding: 2.44% 4.879%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 3.334vw;
}

#inp_nombre, #inp_apellido {
    padding: 5.129% 10.259%;
    width: 79.488%;
}

.botones {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 9.01%;
}

a {
    text-decoration: none;
}

.btn_ingreso {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52.223%;
    height: 39.063%;
    padding: 0;
    border: 0;
    border-radius: 32px;
    background-color: var(--azul-claro-L);
}

.txt_ingreso {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 5.278vw;
    text-decoration: none;
    color: var(--fondo-L);
}

@media (min-width: 721px){
    .img_logo {
        height: 200px;
        width: 200px;
    }

    .inp_datos {
        height: 48px;
        width: 592px;
        padding: 16px 32px;
        font-size: 24px;
    }

    .btn_ingreso {
        width: 376px;
        height: 100px;
    }

    .txt_datos {
        font-size: 24px;
    }

    .txt_crunchy {
        font-size: 48px;
    }

    .txt_ingreso {
        font-size: 38px;
    }
}