<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/general.css"/>
    <link rel="stylesheet" href="/styles/inicio.css"/>
    <title>Crunchy</title>
</head>
<body>
    <div class="app">
        <div class="logo">
            <img class="img_logo"/>
        </div>
        <div class="titulo">
            <p class="txt_crunchy">Crunchy</p>
        </div>
        <div class="botones">
            <button class="btn_ingreso" id="btn_ingreso">
                <a href="/ingreso">
                    <span class="txt_ingreso">Ingresar</span>
                </a>
            </button>
            <button class="btn_registro" id="btn_registro">
                <a href="../views/registro.html">
                    <span class="txt_registro">Crear una cuenta</span>
                </a>
            </button>
        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/inicio.js"></script>
</body>
</html>