<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/general.css"/>
    <link rel="stylesheet" href="/styles/matches.css"/>
    <title>Crunchy</title>
</head>
<body class="fondo">
    <div class="app">
        <header class="menus">
            <button class="btn_menus" id="btn_hamburguesa">
                <img class="img_menus" id="img_hamburguesa" src="/assets/menu-hamburguesa.svg" />
            </button>
            <button class="btn_menus" id="btn_categoria">
                <img class="img_menus" id="img_categoria" src="/assets/comidas.svg" />
            </button>
        </header>
        <div class="comidas">
            <div class="img_comida" id="img_comida">
                <div class="fondo_comida">
                    <div class="informacion">
                        <span class="txt_nombre" id="txt_nombre"></span>
                        <span class="txt_local" id="txt_local"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="gustos">
            <button class="btn_gustos" id="btn_dislike">
                <img class="img_gustos" src="/assets/dislike.svg" />
            </button>
            <button class="btn_gustos" id="btn_like">
                <img class="img_gustos" src="/assets/like.svg" />
            </button>
        </div>
        <footer class="navegacion">
            <button class="btn_navegacion" id="btn_perfil">
                <a href="/views/perfil.html">
                    <img class="img_navegacion" src="/assets/usuario.svg"/>
                </a>
            </button>
            <button class="btn_navegacion" id="btn_matches">
                <a href="/views/matches.html">
                    <img class="img_navegacion" src="/assets/matches.svg"/>
                </a>
            </button>
            <button class="btn_navegacion" id="btn_carta">
                <a href="/views/carta.html">
                    <img class="img_navegacion" src="/assets/carta.svg"/>
                </a>
            </button>
            <button class="btn_navegacion" id="btn_busqueda">
                <a href="/views/busqueda.html">
                    <img class="img_navegacion" src="/assets/busqueda.svg"/>
                </a>
            </button>
        </footer>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/matches.js"></script>
</body>
</html>