<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/general.css"/>
    <link rel="stylesheet" href="/styles/perfil.css"/>
    <link rel="stylesheet" href="/styles/hamburguesa.css"/>
    <title>Crunchy</title>
</head>
<body class="fondo">
    <div class="app">
        <header class="app_contenido" id="menus">
            <div class="btn_menus" id="btn_hamburguesa">
                <img class="img_menus" id="img_hamburguesa" src="/assets/menu-hamburguesa.svg" />
            </div>
        </header>
        <div class="app_contenido" id="datos_personales">
            <div class="foto_perfil">
                <img id="img_perfil"/>
            </div>
            <div class="nombre">
                <span id="txt_nombre_user">Nombre Apellidos</span>
            </div>
        </div>
        <div class="hamburguesa">
            <div class="saludo">
                <span id="txt_saludo">¡Hola, usuario!</span>
            </div>
            <ul>
                <li>
                    <div class="opciones">
                        <img class="img_opciones" src="/assets/principal.svg" />
                    </div>
                    <a href="">Pagina principal</a>
                </li>
                <li>
                    <div class="opciones">
                        <img class="img_opciones" src="/assets/historial.svg" />
                    </div>
                    <a href="../views/pedido.html">Historial</a>
                </li>
                <li>
                    <div class="opciones">
                        <img class="img_opciones" src="/assets/mesa.svg" />
                    </div>
                    <a href="../views/mesa.html">Mesa</a>
                </li>
                <li>
                    <div class="opciones">
                        <img class="img_opciones" src="/assets/oscuro.svg" />
                    </div>
                    <a href="#">Versión Oscura</a>
                </li>
                <li>
                    <div class="opciones">
                        <img class="img_opciones" src="/assets/salir.svg" />
                    </div>
                    <a href="#">Salir</a></li>
            </ul>
        </div>
        <div class="app_contenido" id="configuracion">
            <p class="txt_configuracion">Usuario: <span id="txt_configuracion_usuario">chiva de corazon</span></p>
            <p class="txt_configuracion">Correo: <span id="txt_configuracion_correo">jc_*****************@hotmail.com</span></p>
            <p class="txt_configuracion">Contraseña: *********</p>
        </div>
        <footer class="app_contenido" id="navegacion">
            <button class="btn_navegacion" id="btn_perfil">
                <a href="/perfil">
                    <img class="img_navegacion" src="/assets/usuario.svg"/>
                </a>
            </button>
            <button class="btn_navegacion" id="btn_matches">
                <a href="/">
                    <img class="img_navegacion" src="/assets/matches.svg"/>
                </a>
            </button>
            <button class="btn_navegacion" id="btn_carta">
                <a href="/carta">
                    <img class="img_navegacion" src="/assets/carta.svg"/>
                </a>
            </button>
            <button class="btn_navegacion" id="btn_busqueda">
                <a href="/busqueda">
                    <img class="img_navegacion" src="/assets/busqueda.svg"/>
                </a>
            </button>
        </footer>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        const toggle = document.getElementById('btn_hamburguesa');
        const sidebar = document.querySelector('.hamburguesa');
        const menuPrincipalLink = document.querySelector('.hamburguesa ul li a[href=""]'); 
        const appContenidos = document.querySelectorAll('.app_contenido');

        menuPrincipalLink.addEventListener('click', () => {
            sidebar.classList.remove('open');
        });

        toggle.addEventListener('click', () => {
            sidebar.classList.toggle('open');

            if (sidebar.classList.contains('open')) {
                appContenidos.forEach((contenedor) => {
                    contenedor.classList.add('reducir-iluminacion');
                });
            } else {
                appContenidos.forEach((contenedor) => {
                    contenedor.classList.remove('reducir-iluminacion');
                });
            }
        });

        document.addEventListener('click', (event) => {
            if (!sidebar.contains(event.target) && !toggle.contains(event.target)) {
                sidebar.classList.remove('open');
                appContenidos.forEach((contenedor) => {
                    contenedor.classList.remove('reducir-iluminacion');
                });
            }
        });
      </script>
    <script src="/js/perfil.js"></script>
</body>
</html>