<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/general.css"/>
    <link rel="stylesheet" href="/styles/registro.css"/>
    <title>Crunchy</title>
</head>
<body>
    <div class="app">
        <div class="logo">
            <img class="img_logo" src="/assets/logo.jpg"></img>
        </div>
        <div class="titulo">
            <p class="txt_crunchy">Crunchy</p>
        </div>
        <div class="ingreso_datos">
            <div class="seccion_datos">
                <div class="datos_personales">
                    <p class="txt_datos">Nombre</p>
                    <input class="inp_datos" id="inp_nombre">
                </div>
                <div class="datos_personales">
                    <p class="txt_datos">Apellidos</p>
                    <input class="inp_datos" id="inp_apellido">
                </div>
            </div>
            <div class="datos">
                <p class="txt_datos">Correo electrónico</p>
                <input class="inp_datos" id="inp_correo">
            </div>
            <div class="datos">
                <p class="txt_datos">Usuario</p>
                <input class="inp_datos" id="inp_usuario">
            </div>
            <div class="datos">
                <p class="txt_datos">Contraseña</p>
                <input type="password" class="inp_datos" id="inp_password">
            </div>
            <div class="datos">
                <p class="txt_datos">Confirmar contraseña</p>
                <input type="password" class="inp_datos" id="inp_c_password">
            </div>
        </div>
        <div class="botones">
            <button class="btn_ingreso" id="btn_iniciar">
                    <p class="txt_ingreso">Registrarse</p>
            </button>
            <button class="btn_ingreso" id="btn_regresar">
                <a href="/inicio">
                    <p class="txt_ingreso">Regresar</p>
                </a>
            </button>
        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/registro.js"></script>
</body>
</html>